/* Header / Navbar / Footer shared styles derived from index.html */
header.has-text-centered.p-4 {
  background-color: #192d86;
  border-bottom: 5px solid black;
  padding: 1rem 0;
}

.header figure.image img {
  max-width: 64px;
}

.navbar,
.navbar-menu {
  background-color: #192d86 !important;
  justify-content: center;
}
.navbar-item {
  color: #fff;
}
.navbar-item:hover,
.navbar-item:focus,
.navbar-item:active {
  background-color: transparent !important;
  color: #fff !important;
  outline: none !important;
}

.footer {
  background-color: #192d86;
  border-top: 5px solid black;
  color: #fff;
  padding: 20px;
}
.footer p {
  color: #fff;
}

main {
  background-color: #fff8ea;
  min-height: 80vh;
}

/* kill focus background/outline on navbar items/links */
.navbar-item:focus,
.navbar-item:focus-visible,
.navbar-item:focus-within,
.navbar-link:focus,
.navbar-link:focus-visible,
.navbar-link:focus-within {
  background-color: transparent !important;
  outline: none !important;
  box-shadow: none !important;
}

header button:focus,
header button:focus-visible {
  outline: none;
  box-shadow: none;
  background: transparent;
}
